.message{
text-align:center;
}
.sub{
text-align:center;
}
.submit{
    border-radius: 3px; 
    border-style: none;
    height: 40px;
    width: 100px;
    cursor: pointer; 
    font-family: Microsoft YaHei;
    color: white; /* 字体颜色 */
    font-size: 15px;
    background: #1E90FF; 
}
.submit:hover{
 background: #5599FF;
}